body {
	margin: 0;
	padding: 0;
}

.main {
	margin: auto;
	width: 300px;
	height: 300px;
	background: black;
	margin-top: 200px;

	position: relative;

}
.box1 {
	width: 80px;
	height: 80px;
	background: red;

	position: absolute;
	left: -40px;
	top: -40px;
	transition: 1s;
}
.main:hover .box1 {
	left: 0;
	top: 0;
}

.box2 {
	width: 80px;
	height: 80px;
	background: green;

	position: absolute;
	right: -40px;
	bottom: -40px;
	transition: 1s;
}
.main:hover .box2 {
	right: 0;
	bottom: 0;

}
.box3 {
	width: 80px;
	height: 80px;
	background: pink;

	position: absolute;
	left: -40px;
	bottom: -40px;
	transition: 1s;
}
.main:hover .box3 {
	left: 0;
	bottom: 0;
}
.box4 {
	width: 80px;
	height: 80px;
	background: aqua;

	position: absolute;
	right: -40px;
	top: -40px;
	transition: 1s;
}
.main:hover .box4 {
	right: 0;
	top: 0;
}


.circle {
	width: 140px;
	height: 140px;
	background: red;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -70px;
	margin-top: -70px;
	border-radius: 50%;
	transform: scale(0);
	transition: 3s;
}
.main:hover .circle {
	transform: scale(1);
}





.ele {
	width: 300px;
	position: relative;
	overflow: hidden;
}
.ele img {
	max-width: 100%;
}
.title {
	position: absolute;
	background: red;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	left: 0;
	right: 0;	
	bottom: -50px;
	transition: 2s;
}
.ele:hover .title {
	bottom: 200px;
}